* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #ece5dd;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  /* CONTATOS */
  .sidebar {
    width: 30%;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
  }
  
  .header-contatos {
    background-color: #128c7e;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-align: center;
  }
  
  .contacts {
    flex: 1;
    overflow-y: auto;
  }
  
  .contact {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  
  .contact:hover {
    background-color: #e9ecef;
  }
  
  /* CHAT */
  .chat {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
  
  .chat-header {
    padding: 15px;
    background-color: #128c7e;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
  }
  
  .chat-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/639/699/747/emoticon-charms-bw-wallpaper-preview.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .message {
    max-width: 60%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .sent {
    align-self: flex-end;
    background-color: #dcf8c6;
  }
  
  .received {
    align-self: flex-start;
    background-color: #ffffff;
  }
  
  .chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f0f0f0;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
  }
  
  .chat-input button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #128c7e;
    color: white;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #075e54;
  }
  